@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@200&display=swap');

@layer base {
  body {
    @apply bg-[#040714] text-[#f9f9f9] font-body min-w-full min-h-[100vh] m-0 p-0 box-border;
  }
}

@layer components {
  .header-link {
    @apply flex items-center space-x-2 cursor-pointer my-3  pr-3;
  }
  .span {
    @apply text-xl relative uppercase md:text-sm font-medium
    before:bg-[#f9f9f9] before:rounded-bl before:-bottom-1.5 
      before:h-0.5 before:inset-x-0 before:absolute before:transform
      before:origin-left before:scale-x-0 before:transition-all 
      before:duration-200 group-hover:before:scale-x-100;
  }

  .brand {
    @apply flex relative w-52 h-32 sm:w-64 sm:h-36 border-[3px]
     border-[#f9f9f9] border-opacity-10 rounded-lg cursor-pointer 
     shadow-xl overflow-hidden  hover:border-opacity-80 hover:shadow-2xl 
     transform hover:scale-105 transition duration-300;
  }
}
.myimage{
  overflow: hidden;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}
*,::after,::before{
  box-sizing:border-box !important;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  overflow-x:  hidden;
}
.login{
    background-image: url('./public/images/hero-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home{
  /* background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,1)) !important; */
}
.MuiRating-iconEmpty{
  color: white;
}

@media (max-width:765px) {
  .left-hidden{
    left: -100vw !important;
  }
}